<img src="logo.png">

La siguiente tabla representa el número de medallas obtenidas en JJOO por Estados Uniddos, China y Gran Bretaña diseminados por sexo y año:

| país          | año | mujeres | hombres |
|---------------|-----|---------|---------|
| Estados Unidos| 2020| 66      | 47      |
| China         | 2020| 37      | 32      |
| Gran Bretaña  | 2020| 38      | 26      |
| Estados Unidos| 2016| 61      | 60      |
| China         | 2016| 26      | 18      |
| Gran Bretaña  | 2016| 27      | 23      |
| Estados Unidos| 2012| 58      | 46      |
| China         | 2012| 38      | 27      |
| Gran Bretaña  | 2012| 29      | 17      |
| Estados Unidos| 2008| 48      | 36      |
| China         | 2008| 34      | 38      |
| Gran Bretaña  | 2008| 25      | 19      |

Hagamos el gráfico de línea para ver la evolución del número de medallas ganadas por año, país y sexo.

```r

medallero_no_tidy = read.csv("medallero_olimpico_no_tidy.csv")

ggplot(data=medallero_no_tidy,mapping=aes(x=anio,color=pais)) +
    geom_line(mapping=aes(y=hombres)) +
    geom_point(mapping=aes(y=hombres)) +
    geom_line(mapping=aes(y=mujeres),linetype="dashed") +
    geom_point(mapping=aes(y=mujeres)) +
    scale_x_continuous(breaks = c(2008,2012,2016,2020))
```

<img src="im38.png">

Podemos notar que, aunque nuestro código es legible, puede ser incómodo. En este caso solo tenemos dos columnas *de clase* (hombres y mujeres), pero imagina una situación donde tienes más columnas, como la tabla siguiente:

| año | robo.en.casa.habitacion | robo.o.asalto.en.la.calle.o.transporte.publico | robo.parcial.de.vehiculo | robo.total.de.vehiculo | robo.en.forma.distinta.a.las.anteriores | amenazas.verbales | extorsion | fraude | lesiones | otros.delitos.distintos.a.los.anteriores |
|-----|-------------------------|-------------------------------------------------|--------------------------|------------------------|-----------------------------------------|-------------------|-----------|--------|----------|-------------------------------------------|
| 2010 | 2113.649059             | 7412.960196                                     | 3126.565529              | 573.7395442            | 1882.103126                             | 2418.73578        | 7238.574971 | 2658.374764 | 1560.380325 | 1549.69428 |
| 2011 | 2230.943915             | 8570.12644                                      | 3293.61111               | 789.8345105            | 1432.226252                             | 2263.552942       | 5652.920203 | 2499.464214 | 1198.245089 | 1269.1527 |
| 2012 | 2656.411871             | 10036.67603                                     | 4227.127685              | 787.6564859            | 502.1645109                              | 3612.318257       | 7584.783901 | 3318.607581 | 1376.440661 | 1036.962135 |
| 2013 | 2689.357421             | 12294.19477                                     | 4218.32236               | 755.0902684            | 1524.386594                             | 3808.335037       | 9789.794939 | 3981.038493 | 1303.824676 | 1199.066621 |
| 2014 | 2533.689111             | 11903.46619                                     | 4212.6236                | 673.6258722            | 1474.258274                             | 4109.22386        | 9849.553156 | 4254.878777 | 1432.701376 | 1210.552108 |
| 2015 | 2496.347622             | 9994.86298                                      | 3457.273329              | 547.4461307            | 1318.478698                             | 2834.887802       | 8600.308817 | 3906.195119 | 1299.10375 | 1041.993579 |
| 2016 | 2437.278488             | 9599.248182                                     | 3611.328732              | 588.5521506            | 1881.560435                             | 2871.749746       | 8944.593927 | 4656.343261 | 1154.451587 | 1271.542862 |
| 2017 | 2744.842115             | 11080.66347                                     | 3755.435788              | 733.2762036            | 1781.77118                              | 3322.880033       | 7719.081035 | 5341.486047 | 1176.393868 | 1713.350666 |
| 2018 | 2597.754076             | 10775.04611                                     | 3645.245858              | 693.3239617            | 1889.078535                             | 3253.109945       | 6542.041004 | 5397.284025 | 1181.134294 | 1832.810774 |
| 2019 | 2063.444006             | 9091.491694                                     | 3132.121845              | 717.8228134            | 1137.195986                             | 3090.145503       | 5133.663142 | 5088.682612 | 1225.753906 | 2978.622563 |
| 2020 | 1880.005437             | 6898.511174                                     | 2718.398239              | 524.3968481            | 1546.868843                             | 2958.341573       | 5160.375434 | 5903.871052 | 1027.969061 | 1982.374867 |
| 2021 | 1849.332576             | 6581.794345                                     | 2803.269403              | 513.4639553            | 1394.310089                             | 2822.84111        | 5374.782648 | 5906.526665 | 1100.11493 | 2439.434871 |
| 2022 | 1703.979103             | 5688.70442                                      | 2400.233758              | 477.998302             | 1355.465659                             | 2949.48499        | 5055.584623 | 5769.596358 | 1088.57895 | 2211.639921 |

```r
### En R
incidencia_no_tidy = read.csv("incidencia_delictiva_no_tidy.csv",
                   fileEncoding = "latin1")

ggplot(data=incidencia_no_tidy,
       mapping=aes(x=anio)) +
    geom_line(mapping=aes(y=robo.en.casa.habitacion)) +
    geom_point(mapping=aes(y=robo.en.casa.habitacion)) +
    geom_line(mapping=aes(y=robo.o.asalto.en.la.calle.o.transporte.publico)) +
    geom_point(mapping=aes(y=robo.o.asalto.en.la.calle.o.transporte.publico)) +
    geom_line(mapping=aes(y=robo.parcial.de.vehiculo)) +
    geom_point(mapping=aes(y=robo.parcial.de.vehiculo)) +
    geom_line(mapping=aes(y=robo.total.de.vehiculo)) +
    geom_point(mapping=aes(y=robo.total.de.vehiculo)) +
    geom_line(mapping=aes(y=robo.en.forma.distinta.a.las.anteriores)) +
    geom_point(mapping=aes(y=robo.en.forma.distinta.a.las.anteriores)) +
    geom_line(mapping=aes(y=amenazas.verbales)) +
    geom_point(mapping=aes(y=amenazas.verbales)) +
    geom_line(mapping=aes(y=extorsion)) +
    geom_point(mapping=aes(y=extorsion)) +
    geom_line(mapping=aes(y=fraude)) +
    geom_point(mapping=aes(y=fraude)) +
    geom_line(mapping=aes(y=lesiones)) +
    geom_point(mapping=aes(y=lesiones)) +
    geom_line(mapping=aes(y=otros.delitos.distintos.a.los.anteriores)) +
    geom_point(mapping=aes(y=otros.delitos.distintos.a.los.anteriores)) +
   scale_x_continuous(breaks = 2010:2022)

```

<img src="im39.png">

La manera en que vienen presentadas las dos tablas anteriores es lo que se conoce como formato gordo, formato desordenado o formato no tidy.

En general, este tipo de formato no es compatible con la filosofía de la gramática de los datos, donde es preferible tener tablas *largas*, *ordenadas* o lo que se conoce como formato tidy:

| país           | año | sexo    | medallas |
|----------------|-----|---------|----------|
| Estados Unidos | 2008 | mujeres | 48       |
| Estados Unidos | 2008 | hombres | 36       |
| China          | 2008 | mujeres | 34       |
| China          | 2008 | hombres | 38       |
| Gran Bretaña   | 2008 | mujeres | 25       |
| Gran Bretaña   | 2008 | hombres | 19       |
| Estados Unidos | 2012 | mujeres | 58       |
| Estados Unidos | 2012 | hombres | 46       |
| China          | 2012 | mujeres | 38       |
| China          | 2012 | hombres | 27       |
| Gran Bretaña   | 2012 | mujeres | 29       |
| Gran Bretaña   | 2012 | hombres | 17       |
| Estados Unidos | 2016 | mujeres | 61       |
| Estados Unidos | 2016 | hombres | 60       |
| China          | 2016 | mujeres | 26       |
| China          | 2016 | hombres | 18       |
| Gran Bretaña   | 2016 | mujeres | 27       |
| Gran Bretaña   | 2016 | hombres | 23       |
| Estados Unidos | 2020 | mujeres | 66       |
| Estados Unidos | 2020 | hombres | 47       |
| China          | 2020 | mujeres | 37       |
| China          | 2020 | hombres | 32       |
| Gran Bretaña   | 2020 | mujeres | 38       |
| Gran Bretaña   | 2020 | hombres | 26       |

Y ahora, aunque la tabla es más difícil de leer, está mucho más organizada para hacer gráficos.

```r
ggplot(data=tidy,mapping=aes(x=anio,
                             y=medallas,
                             color=pais)) +
    geom_line(mapping=aes(linetype=sexo)) +
    geom_point() +
    scale_x_continuous(breaks = c(2008,2012,2016,2020))
```

<img src="im40.png">

Ahora bien, en caso de estar en la situación de tener una tabla en formato ancho nos va a interesar pasar a formato largo.

Contamos con las funciones ``melt`` y ``pd.melt`` que tienen la siguiente sintaxis:

```r
################################################################
#######       En R       #######################################
################################################################

#install.packages("reshape2")
library(reshape2)

melt(data=tabla, #es la tabla no ordenada
     id.vars=c("col1","col2",...),  #columnas que quieres mantener
     measure.vars=c("col3","col4",...), #columnas que quieres ordenar
     variable.name="variable", #nombre de la nueva columna donde se colocarán los nombres de las columnas antiguas   
     value.name="value") #nombre de la nueva columna donde se colocarán los valores correspondientes a las columnas antiguas   
     
```

```python
################################################################
#######    En Python     #######################################
################################################################

import pandas as pd

melt(frame=tabla, #es la tabla no ordenada
     id_vars=["col1","col2",...],  #columnas que quieres mantener
     value_vars=["col3","col4",...], #columnas que quieres ordenar
     var_name="variable", #nombre de la nueva columna donde se colocarán los nombres de las columnas antiguas   
     value_name="value") #nombre de la nueva columna donde se colocarán los valores correspondientes a las columnas antiguas   
```

```r
################################################################
#######       En R       #######################################
################################################################

#install.packages("reshape2")
library(reshape2)

medallero_tidy = melt(data=medallero_no_tidy, 
     id.vars=c("pais","anio"),
     measure.vars=c("hombres","mujeres"), 
     variable.name="sexo",   
     value.name="medallas")
```

```python
################################################################
#######    En Python     #######################################
################################################################

import pandas as pd

medallero_tidy = pd.melt(frame=medallero_no_tidy, 
                         id_vars=["pais", "anio"], 
                         value_vars=["hombres", "mujeres"], 
                         var_name="sexo", 
                         value_name="medallas")
```